.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width:15rem;
    height: 5rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-menu li:hover{
    color: var(--green);
    cursor: pointer;
    font-size: 1.2rem;
}